$header-font-family: "Helvetica", sans-serif;
$content-font-family: "Georgia", serif;

$bg-color: rgb(255, 255, 255);
$bg-medium-color: rgba(226, 226, 226, 0.5);
$bg-light-color: rgba(226, 226, 226, 0.3);

$text-color: rgba(0, 0, 0, 0.84);
$text-light-color: rgb(167, 167, 167);

$primary-color: rgb(242,56,112);
$primary-light-color: rgba($primary-color, 0.5);

$button-color: $primary-color;
$button-color-hover: rgba($button-color, 0.9);

$quiz-color: $primary-color;
$quiz-success-color: rgb(107, 219, 88);
$quiz-success-color-light: rgba(107, 219, 88, 0.3);
$quiz-error-color: rgb(172, 31, 31);
$quiz-error-color-light: rgba(172, 31, 31, 0.3);

$h1-font-size: 2.5em;

%common-text-styling {
    color: $text-color;
    text-rendering: optimizeLegibility;
}

%content-text-styling {
    @extend %common-text-styling;

    font-family: $content-font-family;

    letter-spacing: 0.1px;
    line-height: 1.5;
    font-size: 1.1em;
    word-spacing: 2px;
}

$button-medium-height: 2em;

$button-medium-width: 3em;
$button-large-width: 6em;

%basic-button {
    border: 1px solid $primary-light-color;
    border-radius: 3px; 

    background-color: $bg-color;

    color: $primary-color;
    font-size: 1.1em;
}

%basic-button-hover {
    border-color: $primary-color;
}

%basic-button-active {
    background-color: $bg-light-color;
}