$content-font-family: "Helvetica", sans-serif;

$bg-color: rgb(255, 255, 255);
$bg-medium-color: rgba(226, 226, 226, 0.5);

$text-color: rgba(0, 0, 0, 0.84);
$text-light-color: rgba(107, 107, 107, 0.84);

$primary-color: #04668C;
$primary-color-hover: #04668CCC;
$primary-color-active: #015271;

$action-color: #ff7365e0;
$action-color-hover: #ff7365bd;
$action-color-active: #ff7265;

$h1-font-size: 2.5em;

%common-text-styling {
    color: $text-color;
    text-rendering: optimizeLegibility;
}

%content-text-styling {
    @extend %common-text-styling;

    font-family: $content-font-family;

    letter-spacing: 0.1px;
    line-height: 1.5;
    font-size: 1.1em;
    word-spacing: 2px;
}