@import './partials/basic_styles';

body {    
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
label,
select {
    @extend %common-text-styling;
}

h1 {
    font-size: $h1-font-size;
    margin-top: 40px;
    margin-bottom: 40px;
}

h2 {
    font-size: 1.8em;
    margin-top: 50px;
}

.clearfix {
    zoom: 1;
}
.clearfix:after {
    content: '.';
    display: block;
    clear: both;
    height: 0px;
    visibility: hidden;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 5px 0 5px 0;
    background-color: rgb(46, 46, 46);;
    z-index: 100;

    box-shadow: 0 0 5px $text-light-color;

    p {
        margin: 5px 0 5px 20px;
        color: $bg-color;
        font-family: $content-font-family;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;

    border: none;
    border-bottom: 1px solid $bg-medium-color;

    text-align: center;

    margin: 10px auto 10px auto;
    width: 200px;
    height: 50px;
}

select:hover,
select:focus {
    border-color: $primary-color;
}

.container {
    width: 800px;
    margin: 60px auto 0 auto;
    text-align: center;

    #recipe-recommendations {
        list-style: none;
    }
}