@import './partials/basic_styles';
@import './partials/browser_mixins';

$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-large: 60em; // 960px

body {    
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
label,
select {
    @extend %content-text-styling;
}

h1 {
    font-size: $h1-font-size;
    margin-top: 40px;
    margin-bottom: 40px;
}

h2 {
    font-size: 1.8em;
    margin-top: 50px;
}

.clearfix {
    zoom: 1;
}
.clearfix:after {
    content: '.';
    display: block;
    clear: both;
    height: 0px;
    visibility: hidden;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 5px 0 5px 0;
    background-color: #605B56;
    z-index: 100;

    box-shadow: 0 0 5px $text-light-color;

    p {
        margin: 5px 0 5px 20px;
        color: $bg-color;
        font-family: $content-font-family;
        font-weight: bold;
    }
}

select,
input[type="number"] {
    @include appearance(none);
    @include text-align-center;

    border: none;
    border-bottom: 1px solid $bg-medium-color;
    border-radius: 0;

    margin: 10px auto 10px auto;
    width: 200px;
    height: 50px;
}

select:hover,
select:focus,
input[type="number"]:hover,
input[type="number"]:focus {
    border-color: $primary-color;
    outline: none;
}

@media only screen and (max-width: $breakpoint-small) {
    select,
    input[type="number"] {
        width: 90%;
    }
}

button[id="select-recipes"] {
    width: 150px;
    height: 40px;
    background-color: $action-color;
    color: $bg-color;
    border: none;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    margin-top: 20px;
}

button[id="select-recipes"]:hover {
    background-color: $action-color-hover;
}

button[id="select-recipes"]:active {
    background-color: $action-color-active;
}

@media only screen and (max-width: $breakpoint-small) {
    button[id="select-recipes"] {
        width: 90%;
    }
}

.container {
    width: $breakpoint-med;
    margin: 60px auto 0 auto;
    text-align: center;

    #recipe-recommendations {
        list-style: none;
        margin-top: 50px;
        padding: 0;

        li {
            @include text-align-left;

            width: 60%;
            margin: 0 auto 30px auto;
            padding: 10px 10px 10px 10px;

            border-left: solid 2px $primary-color;

            h4 {
                margin: 0;
            }

            p {
                margin: 5px 0 0 0;
            }

            button {
                background-color:$action-color;
                border: none;
                border-radius: 10px;
                color: $bg-color;
                font-size: 0.9em;
                padding: 5px 15px 5px 15px;
                margin-top: 20px;
            }

            button:hover {
                background-color: $action-color-hover;
            }

            button:active {
                background-color: $action-color-active;
            }

            @media only screen and (max-width: $breakpoint-small) {
                button {
                    width: 100%;
                }
            }
        }

        @media only screen and (max-width: $breakpoint-med) {
            li {
                width: 90%;
            }
        }
    }
}

@media only screen and (max-width: $breakpoint-large) {
    .container {
        width: 100%;
    }
}